spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/semesterwork
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: qwerty007

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    view:
      prefix: /WEB-INF/view/
      suffix: .jsp

  cache:
    type: NONE



logging:
  level:
    org.springframework.security: DEBUG


application:
  security:
    jwt:
      access-token:
        expiration: 86400000
        secret-key: 3357638792F423F4528472B4B6250655368566D597133743677397A24432646
      refresh-token:
        expiration: 604800000



